{% extends "demo/base.html" %}
{% load renderer %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
{% endblock %}

{% block body %}
{{ text|safe }}
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    });
});
</script>
{% endblock %}
