{% extends "demo/base.html" %}
{% load renderer_extra %}

{% block head %}
<style>
    .panel {
        margin: 10px;
    }
    .panel-body {
        background-color: #cecece;
    }
    .panel-body,
    .panel-heading {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<h1>rendering samples</h1>
<p class="lead">this page generate {{ renditions|length }} random renditions</p>
{% for w, h in renditions %}
<div class="panel panel-primary">
    <div class="panel-heading">
        {% verbatim %}
        {% rendition master
        {% endverbatim %}
        {{ w }} {{ h }}
        {% verbatim %}%}{% endverbatim %}
    </div>
    <div class="panel-body">
        {% rendition master w h %}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
{% endblock %}